* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 15px;
}

body {
	background: linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation-bar {
	height: 5rem;
	background-color: rgba(0, 0, 0, 0.5);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem;
}

.navigation-bar__button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: #2c5364 1px solid;
	margin: 1rem;
}

.navigation-bar__button {
	color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
	font-size: 2rem;
}
